#### discoverSchema example

In [13]:
discoverSchema("../dummy_data/CB1200CZ11_dummy.csv", 100, ca = CsvAttributes(delimiter = '|', hasHeader = True))

#### Run Modules

In [3]:
a=df("stage1.employment.EmploymentByState")

In [4]:
a.show(5)

+---+-------+
| ST|    EMP|
+---+-------+
| 50| 245058|
| 51|2933665|
| 53|2310426|
| 54| 531834|
| 55|2325877|
+---+-------+
only showing top 5 rows

In [4]:
b=df("stage1.employment.EmploymentByState")

In [5]:
b.show(5)

+---+-------+------------------+
| ST|    EMP|avg_PAYANN_per_EMP|
+---+-------+------------------+
| 50| 245058| 33.10683760683761|
| 51|2933665|34.760765550239235|
| 53|2310426| 37.18738738738739|
| 54| 531834|31.526558891454965|
| 55|2325877| 33.40940525587828|
+---+-------+------------------+
only showing top 5 rows

In [5]:
c=df("stage1.employment.EmploymentClean")

In [6]:
c.show(5)

+---+-------+--------------+--------------------+----------+---------+--------------------+------------+----+-----+-------+-----+-----+-----+-------+-------+---------+---------+-----------+------+--------+--------+----------+-----+
| ST|ZIPCODE|        GEO_ID|             GEO_TTL|FOOTID_GEO|NAICS2012|       NAICS2012_TTL|FOOTID_NAICS|YEAR|ESTAB|ESTAB_F|  EMP|EMP_F|EMP_N|EMP_N_F|PAYQTR1|PAYQTR1_F|PAYQTR1_N|PAYQTR1_N_F|PAYANN|PAYANN_F|PAYANN_N|PAYANN_N_F|ST_CD|
+---+-------+--------------+--------------------+----------+---------+--------------------+------------+----+-----+-------+-----+-----+-----+-------+-------+---------+---------+-----------+------+--------+--------+----------+-----+
| 01|  35004|8610000US35004|     35004(MOODY,AL)|      null|        0|Total for all sec...|        null|2012|  167|   null| 2574| null|    0|      H|  19448|     null|        0|          H| 83803|    null|       0|         H|   AL|
| 01|  35005|8610000US35005|35005(ADAMSVILLE,AL)|      null|        0|Total for all sec...|        null|2012|   88|   null|  665| null|    0|      G|   3948|     null|        0|          G| 16299|    null|       0|         G|   AL|
| 01|  35007|8610000US35007| 35007(ALABASTER,AL)|      null|        0|Total for all sec...|        null|2012|  596|   null|10347| null|    0|      H|  82101|     null|        0|          H|343200|    null|       0|         H|   AL|
| 01|  35010|8610000US35010|35010(ALEXANDER C...|      null|        0|Total for all sec...|        null|2012|  463|   null| 6725| null|    0|      G|  46164|     null|        0|          G|196231|    null|       0|         G|   AL|
| 01|  35014|8610000US35014|    35014(ALPINE,AL)|      null|        0|Total for all sec...|        null|2012|   23|   null|  106| null|    0|      G|    541|     null|        0|          G|  2486|    null|       0|         G|   AL|
+---+-------+--------------+--------------------+----------+---------+--------------------+------------+----+-----+-------+-----+-----+-----+-------+-------+---------+---------+-----------+------+--------+--------+----------+-----+
only showing top 5 rows

In [8]:
d=df("stage1.employment.EmpPayRollFeature")

In [9]:
d.show(5)

+---+-----+-------+------------------+----------------------------+-----------------------------+
| ST|ST_CD|ZIPCODE|    PAYANN_per_EMP|diff_avg_ctry_PAYANN_per_EMP|diff_avg_state_PAYANN_per_EMP|
+---+-----+-------+------------------+----------------------------+-----------------------------+
| 28|   MS|  38601|28.836363636363636|          -6.972582561806078|           -1.833267278147325|
| 28|   MS|  38603| 30.99103139013453|          -4.817914808035184|          0.32140047562356955|
| 28|   MS|  38606|  31.2497656354627|          -4.559180562707013|           0.5801347209517402|
| 28|   MS|  38610|25.640776699029125|         -10.168169499140589|           -5.028854215481836|
| 28|   MS|  38611|  33.8766592920354|         -1.9322869061343155|           3.2070283775244377|
+---+-----+-------+------------------+----------------------------+-----------------------------+
only showing top 5 rows

In [10]:
e=df("stage1.employment.EmpPayRollCounty")

In [11]:
e.show(5)

+-----+------------+------------------------------+------------------------------+
|ST_CD|cnt_counties|cnt_counties_avg_ge_state_ctry|pct_counties_avg_ge_state_ctry|
+-----+------------+------------------------------+------------------------------+
|   RI|          77|                            38|             49.35064935064935|
|   DC|          69|                            33|             47.82608695652174|
|   AK|         153|                            68|             44.44444444444444|
|   NH|         224|                            98|                         43.75|
|   WY|         128|                            54|                       42.1875|
+-----+------------+------------------------------+------------------------------+
only showing top 5 rows

In [ ]:
discoverSchema("../dummy_data/CB1200CZ11_dummy.csv", 100, ca = CsvAttributes(delimiter = '|', hasHeader = True))